# Standard C++ ignores
*.exe
*.dll
*.so
*.dylib
*.o
*.obj
*.out
*.app
*.lib
*.pdb
*.ilk
*.exp
*.gch
*.pch
*.idb
*.res
*.sdf
*.opendb
*.tlog
*.ipch
*.db
*.to
*.d
*.user
*.userosscache
*.suo
*.cache
*.csproj.user
*.vbproj.user
*.vcxproj.user
*.vcxproj.filters
*.pidb
*.svclog
*.scc
*.opensdf
*.vcproj
*.vcproj.*.user
*.vspscc
*.vssscc
*.vsmdi
*.[Oo]bj
*.[Bb]in
*.[Bb]ak
*.[Tt]mp
*.[Ll]og
*.vs/
*.vscode/
Debug/
Release/
x64/
x86/
build/
ipch/
obj/
[Bb]in/
[Ll]og/
[Tt]est[Rr]esult*/
[Tt]est[Rr]esult*.xml
*.optrpt
*.stackdump
*.iobj
*.ipdb
*.pgc
*.pgd
*.rsp
*.ncb
*.tlh
*.tli
*.ilk
*.map
*.exp
*.dmp
# Exclude the DirectX shader cache
*.d3dshader
# Exclude the npm packages
node_modules/
# Exclude the user-specific VSCode settings
.vscode/*.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/settings.json
# Exclude other files that are generated during the build process
*.aps
*.sbr
*.bsc
*.ilk
*.mpb
*.mpx
*.plg
*.vcxproj*
*.sln*
*.vdx
*.vtx
*.vsdx
*.bak
*.trx
*.vsmdi
*.rpt
*.log
*.coverage
*.coveragexml
*.manifest
*.intermediate.manifest
*.lastbuildstate
*.dep
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.chk
*.tlb
*.tlh
*.tli
*.log
*.lst
*.iobj
*.pdb
*.idb
*.pch
*.res
*.ilk
*.sbr
*.obj
*.exe
*.dll
*.lib
*.exp
*.ocx
*.rsp
*.rsp
*.aps
*.pch
*.vsix
*.vsixmanifest
*.vsixlangpack
*.vsixlib
*.vsixsource
*.vsi
*.vstemplate
*.vstemplatexml
*.vsz
*.vssettings
*.vssscc
*.vspscc
*.vsc
*.userprefs
# End of .gitignore
